*.beam
*.ez
/build
erl_crash.dump
server/.gradle
server/.idea
server/.kotlin/errors
server/.github/workflows
server/app/build
server/build/reports/problems
client/node_modules
client/.next
client/playwright-report
client/test-results/integration-join-table-sho-8ab66-up-3-clients-and-join-table
server/.kotlin/sessions
client/out
